body {
    margin: 0px;
    padding: 0px;
    background: ##0A2342;
}

.box {
    position: relative;
    display: block;
    margin: auto;
    height: 420px;
    width: 600px;
    margin-top: 8%;
}

.switch-container {
    position: absolute;
    width: 80%;
    height: 60%;
    background: ;
    top: 20%;
    left: 10%;
}

.joy-left {
    position: absolute;
    height: 100%;
    width: 15%;
    background: #0A2342;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.left-big-btn {
    position: absolute;
    border-radius: 50%;
    background: #E9F1F7;
    height: 12%;
    width: 40%;
    border: 5px solid #202226;
    top: 20%;
    left: 25%;

}

.left-four-btn {
    position: absolute;
    height: 23%;
    width: 70%;
    top: 45%;
    left: 15%;
}

.top-touch {
    position: absolute;
    height: 30%;
    width: 30%;
    left: 35%;
    top: 0%;
    background: #E9F1F7;
    border-radius: 50%;

}

.left-touch {
    position: absolute;
    height: 30%;
    width: 30%;
    left: 0%;
    top: 35%;
    background: #E9F1F7;
    border-radius: 50%;
}

.right-touch {
    position: absolute;
    height: 30%;
    width: 30%;
    right: 0%;
    top: 35%;
    background: #E9F1F7;
    border-radius: 50%;
}

.bottom-touch {
    position: absolute;
    height: 30%;
    width: 30%;
    left: 35%;
    bottom: 0%;
    background: #E9F1F7;
    border-radius: 50%;
}

.left-square-btn {
    position: absolute;
    background: black;
    height: 7%;
    width: 23%;
    bottom: 15%;
    right: 13%;
    border: 3px solid white;

}

.joy-right {
    position: absolute;
    height: 100%;
    width: 15%;
    right: 0%;
    background: #0A2342;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.right-big-btn {
    position: absolute;
    border-radius: 50%;
    background: #E9F1F7;
    height: 12%;
    width: 40%;
    border: 5px solid #202226;
    top: 50%;
    left: 25%;
}

.right-four-btn {
    position: absolute;
    height: 23%;
    width: 70%;
    top: 20%;
    left: 15%;
}

.right-circle-btn {
    position: absolute;
    background: black;
    height: 3%;
    width: 10%;
    bottom: 18%;
    left: 10%;
    border: 5px solid #E9F1F7;
    border-radius: 50%;

}

.right-plus {
    position: absolute;
    background: ;
    height: 8%;
    width: 25%;
    top: 3%;
    left: 8%;
}

.vertical {
    position: absolute;
    height: 100%;
    width: 35%;
    left: 32.5%;
    background: #E9F1F7;
}

.horizontal {
    position: absolute;
    width: 100%;
    height: 35%;
    background: #E9F1F7;
    top: 35.5%;
}



.center-screen {
    position: absolute;
    background: black;
    height: 100%;
    left: 15%;
    width: 70%;
}

.inner-center-screen {
    position: absolute;
    height: 90%;
    background: #E60001;
    width: 90%;
    top: 5%;
    left: 5%;
}

.screen-box-left {
    position: absolute;
    height: 60%;
    background: #E60001;
    width: 16%;
    top: 16%;
    left: 25%;
    border: 8px solid white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.box-ball-left {
    position: absolute;
    border-radius: 50%;
    background: #ffffff;
    height: 20%;
    width: 50%;
    left: 25%;
    top: 15%;
    animation: up-down-left 2s infinite;
}

@keyframes up-down-left {
    0% {
        top: 15%;
    }
    50% {
        top: 75%;
    }
    100% {
        top: 12%
    }
}


.screen-box-right {
    position: absolute;
    height: 60%;
    background: white;
    width: 16%;
    top: 16%;
    right: 25%;
    border: 8px solid white;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;

}

.box-ball-right {
    position: absolute;
    border-radius: 50%;
    background: #e60001;
    height: 20%;
    width: 50%;
    left: 25%;
    bottom: 15%;
    animation: up-down-right 2s infinite;

}


/* Css animations  */

@keyframes up-down-right {
    0% {
        top: 15%;
    }
    50% {
        top: 75%;
    }
    100% {
        top: 12%
    }
}



/* @media query for the responsive view*/

@media screen and (max-width:599px) {
    .box {
        margin-top: 20px;
        width: 350px;
        height: 250px;
    }
    .screen-box-left {
        border: 2px solid white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .screen-box-right {
        border: 2px solid white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px
    }

    .joy-left {
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;
    }
    .joy-right {
        border-top-right-radius: 13px;
        border-bottom-right-radius: 13px;
    }
    
    .right-circle-btn {
    left: 12%;
    border: 4.2px solid #E9F1F7;
    border-radius: 50%;

}

.right-plus {
    top:7%;
    left: 8%;
}
    .left-square-btn {
    border: 2px solid white;

}
    
}


@media screen and (max-width:370px) {
    .box {
        margin-top: 20px;
        width: 250px;
        height: 175px;
    }

    .joy-left {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .joy-right {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
.right-circle-btn {
    left: 12%;
    border: 2.5px solid #E9F1F7;
    border-radius: 50%;

}

.right-plus {
    top: 7%;
    left: 8%;
}
    .left-square-btn {
    border: 1px solid white;

}
}
